api/.gitreview
api/logs
api/project/project
api/project/target
api/target
api/tmp
api/.history
api/dist

api/*.iml
api/out
api/.idea_modules
api/.classpath
api/.project
api/*.txt
/RUNNING_PID
/.settings

*.idea/*
api/*.pdf
api/tmp/*.pdf

client/web/bower_components/*
client/web/.tmp/*
client/web/dist/*
client/web/node_modules/*
client/web/.idea/*
client/web/*.iml
